VITE_APPWRITE_URL = "https://fra.cloud.appwrite.io/v1" 
VITE_APPWRITE_PROJECT_ID = ""
VITE_APPWRITE_DATABASE_ID = ""
VITE_APPWRITE_COLLECTION_ID = ""      
VITE_APPWRITE_BUCKET_ID = ""

#  This file is shipped to github and is used to generate the appwrite app so we need to make sure it's not used in production.
# The variables are kept empty so we can add or modify as per our requirement
# We access these variables in app.jsx file using  process.env.NAME_of_environment_variable if project is created using create react app but if you used vite to create the project then we access the variables using import.meta.env.NAME_of_environment_variable.
# Articles is the Collection id.



